{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>SuperCamper USA</title>
	
		<link rel="stylesheet" href="{% static "css/style.css"%}">
	</head>

	<body>

		<div class="container">
			<!-- START HERE --> 

			<h1>Hello, and welcome to SuperCamper USA!</h1>
			<h2>We are here to help you find great campsites, all across the beautiful USA.</h2>

			<p>In a world filled with tiny campgrounds with no views, screaming children and broken showers, finding a great campsite with the essentials can be hard. Let us do the legwork. We find the most beautiful campsites with the best wifi, working outlets, epic beaches, and amazing hikes —  and most importantly great, clean, working bathrooms. Sign up to be the first to get updates &amp; follow us on social media.</p>

			<p>Email us now for a PDF of the Top 10 Camp Sites in the USA!: <a mailto:"hello@supercamperusa">hello@supercamperusa</a></p>

			<a href="https://twitter.com/supercamperusa" target="_blank">
				<img src="{% static "images/twitter.png" %}" alt="Twitter">
			</a>

			<a href="https://www.facebook.com/supercamperusa" target="_blank">
				<img src="{% static "images/facebook.png" %}" alt="Facebook">
			</a>
			
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>